styletemplate "\x1b[$stylem$text\x1b["
styleseparator ";"

bold "\textbf{$text}"
italics "<i>$text</i>"
underline "<u>$text</u>"

color "<font color=\"$style\">$text</font>"

onestyle "<span class=\"$style\">$text</span>"

colormap
"green" "#33CC00"
"red" "#FF0000"
default "#000000"
end

translations
"&" "&amp;"
"<" "&lt;"
">" "&gt;"
end

doctemplate
"this is the start of my doc
and this is a line with a backslash \text
and this contains a {
this is the title: $title
this is the css url: $css
this is the header: $header
and this is some additional stuff: $additional"
"this is the end of my doc
this is simply the footer: $footer"
end